#genre-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#genre-selector li {
  display: inline-block;

}
.movies-sort-selector {
}
.movie {
  background-color: rgb(197, 197, 206);
}
.container-padding {
  padding: 1em 2em 1em 2em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
