#genre-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-inline-start: 0;
}
#genre-selector li {
  display: inline-block;
  padding-right: 1em;
}

.genre-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  padding-bottom: 10px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-transform: uppercase;
}

.genre-button:hover {
  border-bottom: 1px solid red
}

.genre-button-selected {
  border-bottom: 1px solid red
}

.movies-sort-selector {
}
.movie {
  background-color: rgb(197, 197, 206);
}
.container-padding {
  padding: 1em 2em 1em 2em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-grow-10 {
  flex-grow: 10;
}
